<ol class="post-list">
  <li>
    <article class="post">
      <div class="uk-width-2-3">
        <div>
          <div class="uk-card uk-card-default" id="post-div">
            <div class="uk-card-media-top poat-image">
              <img src="{{post_url}}" alt="post image" />
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">by
                {{user.username}}
                on
                {{created_at}}</h3>
              <p>{{post_content}}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </li>
</ol>