<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
  <title>Travel Blogger</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<div class="wrapper">
    <header>
      <nav class="uk-navbar-container" style="z-index: 980; background-color: #f1f2f1; color: black;" uk-sticky="top: 200;" uk-navbar>
    <div class="uk-navbar-center">

      <div class="uk-navbar-center-left">
        <div>
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="../home">Home</a></li>
          </ul>
        </div>
      </div>

      <a class="uk-text-bolder uk-navbar-item uk-logo" style="color:black;" href="../about">Travel Blogger</a>

      <div class="uk-navbar-center-right">
        <div>
          <ul class="uk-navbar-nav">
            {{#if loggedIn}}
              <li class=""><a href="../home">Logout</a></li>
              <li>
                  <a href="/profile-page" uk-toggle="target: #post-modal" id="create-post">New Post</a>
              </li>
            {{else}}
              <li class=""><a href="../profile">Account</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="uk-text-center uk-position-bottom" style="background-color: #f1f2f1; min-height: 80px;">
      <p class="uk-flex-middle">Travel Blogger© All Right Reserved</p>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
</body>

</html>

{{!-- <div id="post-modal" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-center">NEW POST</h2>
        </div>
        <div class="uk-modal-body uk-overflow-auto">
            <form>
                <fieldset class="uk-fieldset">
                        <div class="uk-grid-column" uk-grid >
                            <div class="uk-width-1-2@s uk-height-small uk-text-center uk-margin">
                                <input class="uk-input uk-form-width-medium uk-margin-top" type="text" placeholder="Title">
                                <div class="uk-margin" uk-form-custom="target: true">
            			            <input type="file">
            			            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
        		                </div>
                            </div>
                            <div class="uk-width-1-2@s uk-margin-top uk-text-center">
                                <textarea class="uk-textarea uk-height-small" style="resize: none;" cols="25" placeholder="Description..."></textarea>
                            </div>
                        </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-center">
            <button class="uk-button uk-button-default uk-modal-close" type="submit">POST</button>
        </div>
    </div>
</div> --}}
{{!--  
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script> --}}