<div class="uk-section uk-background-cover uk-flex-column uk-flex-center@s uk-text-center uk-padding-remove" uk-height-viewport="expand:true">
    <section>
    <div class="uk-container uk-flex uk-text-center uk-flex-center" style="z-index: 980; background-color: #f1f2f1; color: black; max-width: none;">
        <h1 class="uk-text-meta uk-text-large uk-text-bold uk-margin-auto-vertical uk-margin-medium-left" style=";">About</h1>
    </div>
    <div class="uk-container uk-flex uk-text-center uk-flex-center" style="z-index: 980; background-color: #f1f2f1; color: black; max-width: none;">
        <h1 class="uk-text-meta uk-text-large uk-text-bold uk-margin-auto-vertical uk-margin-medium-left" style=";">Travel Blogger is a site for travelers to meet, share experiences, stories, photos, and plan future trips. The inspiration for the site was the inability to travel for the past year due to Covid-19 and the need to connect with others. Travel Blogger allows people who may not have friends or family who have interest in travel, but would like to share stories or meet new travel friends with people who share their passion for traveling.</h1>
    </div>
    </section>
    
</div>
<div class="about-spacer">
      {{!-- spacer for footer --}}
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>