<div class="uk-section uk-background-cover uk-flex-column uk-flex-center@s uk-text-center uk-padding-remove" uk-height-viewport="expand:true">
    
    <div class="uk-container uk-flex uk-text-center uk-flex-center" style="z-index: 980; background-color: #f1f2f1; color: black; min-height: calc(35vh); max-width: none;">
        <h1 class="uk-text-meta uk-text-large uk-text-bold uk-margin-auto-vertical uk-margin-medium-left" style=";">A simple blog to write about your travels.</h1>
    </div>

    <div class="uk-container" style="min-height: calc(65vh);"></div>

    <div class="uk-container" style="z-index: 980; background-color: #f1f2f1; color: black; max-width: none; min-height: calc(25vh);">
        <h2 class="uk-margin-medium-top uk-margin-remove-bottom">Sign In</h2>
        <form>
            <fieldset class="uk-fieldset">
                <div class="uk-margin uk-margin-remove-top uk-flex uk-flex-column uk-flex-middle">
                        <input class="uk-input uk-form-width-medium uk-margin-top uk-text-center" type="text" placeholder="Username">
                        <input class="uk-input uk-form-width-medium uk-margin uk-text-center" type="password" placeholder="Password">
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="" style="background-color: #f1f2f1; min-height: 80px;">
            <button class="uk-button uk-button-default" uk-toggle="target: #register-modal" type="button"><a href="#" style="color: #999">Register</a></button>
            <button class="uk-button uk-button-default uk-margin-large-left" type="submit"><a href="#" style="color: #999">Login</a></button>
        </div>
    </div>

    <div id="register-modal" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-center">REGISTER</h2>
            </div>
            <div class="uk-modal-body uk-overflow-auto uk-height-medium">
                <form>
                    <fieldset class="uk-fieldset">
                        <div class="uk-grid-column" uk-grid >
                          <div class="uk-width-1-2@s uk-height-small uk-text-center uk-margin">
                            <input class="uk-input uk-form-width-medium uk-margin-top" type="text" placeholder="Username">
                            <input class="uk-input uk-form-width-medium uk-margin" type="password" placeholder="Password">
                            <input class="uk-input uk-form-width-medium uk-margin-bottom" type="password" placeholder="Confirm Password">
                            <input class="uk-input uk-form-width-medium uk-margin-auto" type="text" placeholder="Location">
                          </div>
                          <div class="uk-width-1-2@s uk-margin-top uk-text-center uk-height-medium">
                            <textarea class="uk-textarea uk-height-1-1" style="resize: none;" cols="25" placeholder="Bio"></textarea>
                          </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-center">
                <button class="uk-button uk-button-default uk-modal-close" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>