<div id="my-id" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title"></h2>
            <form class="edit-post-form">
                <fieldset class="uk-fieldset">

                <legend class="uk-legend">EDIT</legend>

                <div class="uk-margin">
                    <h1>{{post_destination}}</h1>
                </div>
                <div class="uk-margin">
                    <textarea name="post-content" id="newblog-input" class="uk-input" type="text" placeholder="Insert Blog Here!" value={{post_content}}></textarea>
                </div>
                <div class="uk-margin">
                    <input name="photo-link-input" class="uk-input" type="text" placeholder="Please Include Your Photo URL Here." value={{post_url}}>
                </div>
                </fieldset>
                <button class="uk-button uk-button-default uk-margin-large-left" type="submit" id="edit-post-submit-btn">SUBMIT</button>
                <button class="uk-button uk-button-default" type="button" id="post-delete-btn">DELETE</button>
            </form>
            {{!-- <button class="uk-modal-close uk-button uk-button-default" type="button">CLOSE</button>
            <button class="uk-button uk-button-default uk-margin-large-left" type="submit">SUBMIT</button> --}}
        </div>
        <script src="./javascript/delete-post.js"></script>
        {{!-- <script src="./javascript/edit-post.js"></script> --}}
    </div>