* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

html {
    background: url("../traveler.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
  width: 100%;
  height: auto;
  text-align: center;
}

h1 {
  padding-bottom: 2%;
  color: #f1f2f1;
  margin: 2%;
  margin-top: 0%;
}

a {
  text-decoration: none;
  color: #1642e3a7;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #1642e3e8;
  text-decoration: none;

}

li {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  margin-right: auto;
  margin-left: auto;
}
ol{
  padding: 0%
}

.uk-width-1-2 {
  /* width: calc(100% * 2 / 3.001); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#post-div {
  background-color: rgb(90 216 228 / 87%);
  box-shadow: 0 5px 15px rgb(0 0 0 / 61%);
  /* max-width: ; */
}

.post-creator {
  margin:auto;
}

#create-post {
  color: #59de59bf;
}

#create-post:hover {
  color: #01c101;
}

.profile-head {
  display: inline;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


#newblog-input {
  height: 250px;
}


.uk-text-meta {
  color: #222;
}

element.style {
  bottom: 0px;
  position: static;
  background-color: #f1f2f1;
  min-height: 80px;
  width: 50%;
}



.uk-margin {
  margin-bottom: 0px;
}

.uk-button {
  margin: 0px 0px 0px;
}

.uk-button-default {
  background-color: #95c78f6b;
}

element.style {
  z-index: 980;
  background-color: #b6c1b6c7;
  color: black;
  max-width: none;
}

.uk-container {
  padding-bottom: 30px;
}

.uk-modal-body {
  padding-bottom: 30px;
}
.form-submit-button {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px; 
  width: 100px;
  font: bold 15px arial, sans-serif;
  
  }

.uk-navbar-nav {
    display: contents;
    margin: 0;
    padding: 0;
    list-style: none;
}

  .uk-position-bottom {
    /* position: absolute; */
    bottom: auto;
  }

  /* .uk-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
  } */

  .edit-link {
    margin-left: 42%;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(217, 224, 30, 0.711);
    color: rgb(0, 0, 0);
  }

  footer {
    margin-top: 10px;
  }

  .uk-height-1-1 {
    height:50%;
  }
